* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

#current-player {
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 60px); /* 7 columns */
    grid-template-rows: repeat(6, 60px);   /* 6 rows */
    gap: 5px;
}

.grid div {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.taken {
    background-color: #d3d3d3;
    pointer-events: none;
}

.player-one {
    background-color: red;
    z-index: 1;
}

.player-two {
    background-color: blue;
    z-index: 1;
}